.plan-list-name {
    padding-top: 90px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.trash-icon {
    text-align: right;
    margin-right: 20px;
    margin-top: -23px;
}

.plan-list-plus {
    text-align: right;
    color: #5edcc4;
    position: fixed;
    top: 800px;
    right: 7px;
}

.plan-list-item {
    max-height: 800px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
    margin-top: 20px;
    overflow: auto;
}

.plan-list-item .combined-button {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: 1px solid rgb(0,0,0,0.34);
    font-size: 15px;
    background-color: white;
    margin-top: 10px;
}

.plan-list-item .combined-button.modify {
    border-color: grey; 
}

.plan-list-item .combined-button.modify.clicked {
    border-color: #5edcc4; 
    /* color: white;  */
}

.plan-list-item .combined-button.modify.clicked .check-icon {
    /* color: white;  */
}

.plan-list-item .combined-button.modify:disabled {
    border-color: #5edcc4; 
    color: white; 
}

.combined-button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.plan-list-button.checked {
    background-color: rgb(0,0,0,0.25);
}
 .check-icon {
    color: grey;
}
.plan-list-button.checked .check-icon{
    color: white;
}
.plan-list-button:focus {
    outline: none;
}
.category-button-image {
    margin-left: 5px;
    background-size: 100px;
    background-color: #e5f9f3; 
    width: 30px;
    padding: 7px 7px;
    border-radius: 50px;
    /* border-color: #aeaeac; */
    
}

.check-count {
    color:#22806E;
    margin-left: auto;
    margin-right: 15px;
}

.plan-button-text{
    margin-left: 18px;
}

