.plan-list-name {
    padding-top: 70px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.trash-icon{
    text-align: right;
    margin-right: 20px;
    margin-top: -23px;
}
.plan-list-plus {
    text-align: right;
    color: #5edcc4;
    position: fixed;
    top: 685px;
    right: 7px;
}

.plan-list-item{
    margin-left: 20px;
    margin-bottom: 60px;
}
.plan-list-item .combined-button{
    width: 320px;
    height: 70px; 
    border-radius: 10px;
    border: 1px solid grey;
    background-color: white;
    margin-top: 10px;
}

.combined-button {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.combined-button.clicked {
    background-color: rgba(128, 128, 128, 0.5); 
}

.combined-button.completed {
    background-color: grey; 
    color: black; 
    cursor: not-allowed; 
}

.plan-list-item .combined-button:disabled {
    background-color: rgba(128, 128, 128, 0.5); 
    color: black; 
    cursor: not-allowed; 
}

.combined-button>.check-icon {
    color: grey;
}

.combined-button.clicked > .check-icon {
    color: grey;
}

.complete-button.clicked, .cancel-button.clicked {
    background-color: rgba(128, 128, 128, 0.5); 
    color: white; 
    cursor: default; 
}
