.plan-list-name {
    padding-top: 70px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.trash-icon {
    text-align: right;
    margin-right: 20px;
    margin-top: -23px;
}

.plan-list-plus {
    text-align: right;
    color: #5edcc4;
    position: fixed;
    top: 800px;
    right: 7px;
}

.plan-list-item {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
    margin-top: 20px;
}

.plan-list-item .combined-button {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 15px;
    background-color: white;
    margin-top: 10px;
}

.plan-list-item .combined-button.modify {
    border-color: grey; 
}

.plan-list-item .combined-button.modify.clicked {
    border-color: #5edcc4; 
    /* color: white;  */
}

.plan-list-item .combined-button.modify.clicked .check-icon {
    /* color: white;  */
}

.plan-list-item .combined-button.modify:disabled {
    border-color: #5edcc4; 
    color: white; 
}

.combined-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.plan-list-button.checked {
    background-color: #aeaeac;
}
.plan-list-button .check-icon {
    color: grey;
}
.plan-list-button.checked .check-icon{
    color: white;
}
.plan-list-button:focus {
    outline: none;
}

  