.plan-category{
    padding-top: 80px;
}
.plan-category .plan-category-name{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
.top-plan-category .plan-category-button{
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
}
.top-plan-category .plan-category-button img{
    text-align: center;
    margin-right: 10px;
    margin-top: 4px;
    width: 28px;
}
.top-plan-category .plan-category-button button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #5edcc4;
    padding-left: 10px;
    background-color: white;
    margin: 7px;
}
.plan-category-next-button {
    text-align: center;
    margin-top: 620px; 
}
.plan-category-next-button button{
    width: 370px;
    height: 44px; 
    border-radius: 10px;
    border: 1px;
    color: white;
    font-size: 15px;
}
.plan-category-next-button .grey-button{
    background-color: #ccc;
    border-style: none;
}
.plan-category-next-button .mint-button{
    background-color: #5edcc4;
    border-style: none;
}


