.react-calendar {
    width: auto;
    max-width: 100%;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  
  .react-calendar--doubleView {
    width: 600px;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }

  /* 년도,월 글씨 크기 조절 */
  .react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from,
  .react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--to,
  .react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--active {
    font-size: 20px; 
    font-weight: bold;
}

  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.04em;
    font-weight: bold;
  }

  
  
  /*날짜 부분*/
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    margin-top: -10px;
  }

  .react-calendar__month-view__weekdays__weekday:nth-of-type(7) {
    color: #0075FF; /* 토요일 파랑색으로 설정 */
  }
  
  .react-calendar__month-view__weekdays__weekday:nth-of-type(1) {
    color: red; /* 일요일 빨강색으로 설정 */
  }
  
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  /*지정되지않은 날짜 색상 수정*/
  .react-calendar__month-view__days__day--neighboringMonth:not(.react-calendar__tile--active),
  .react-calendar__decade-view__years__year--neighboringDecade:not(.react-calendar__tile--active),
  .react-calendar__century-view__decades__decade--neighboringCentury:not(.react-calendar__tile--active) {
    color: #ababab;
    background-color: #eeeded;
  }
  
  
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
    /* font-size: 100px; */
  }
  
  .react-calendar__tile {
    max-width: 100%;
    padding: 5px 6px 19px;
    background: none;
    text-align: center;
    line-height: 16px;
    font: inherit;
    font-size: 0.733em;
  }
  
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
    color: #ababab;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth:disabled,
  .react-calendar__decade-view__years__year--neighboringDecade:disabled,
  .react-calendar__century-view__decades__decade--neighboringCentury:disabled {
    color: #cdcdcd;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__tile--now {
    color:#5edcc4;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    /* background: #ffffa9; */
  }
  
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  
  .react-calendar__tile--active {
    /* background: #006edc; */
    /* color: #5edcc4; */
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #cfefe9;

  }
  
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
/*-----점추가-----------*/
  .calendar-day {
    position: relative;
  }
  

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc; 
  position: absolute;
  bottom: -10px; 
  left: 25%;
}


.dot:nth-child(2) {
  left: 55%; 
}
/*/------------점추가-------*/

