.bottom-plan{
    margin-top: 24px;
    text-align: center;
}

.week-plan-button button{
    background-color: #5edcc4;
    color: white;
    width: 90%;
    height:40px;
    font-size: 14px;
    border-radius: 5px;
    border-color: #5edcc4;
    border-style: none;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    text-align: center;
}
.bottom-plan hr{
    width: 90%;
    margin-bottom: 10px;
    margin-left: 20px;
}

.week-plan-name, .career-name{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
}
.career .career-name{
    margin-bottom:10px;
}

.week-plan-name .week-budget,
.career-name .action-plan{
    color: #5edcc4; /* 원하는 색상으로 변경하세요 */
}
.career .career-button >button{
    width: 90%;
    height:80px;
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    box-shadow: none;
    border: 0.1px solid #aaaca9; 
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 15px;
}
.career .career-button{
    margin-bottom: 90px;
}
