.job-plan-manage {
    padding-left: 20px;
    /* text-align: center; */
}

.job-plan-name {
    /* margin-bottom: 20px; */
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: left !important;
}

.job-plan-button button {
    width: 30%;
    height: 150px;
    margin-bottom: 80px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    border: 0.1px solid #aaaca9;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}


.job-plan-button button:focus {
    background-color: #b2e4db;
}


.job-plan-button button:focus .job-plan-img-name {
    color: white; 
}


.job-plan-button .job-plan-img-name {
    font-size: 15px;
    color: #5edcc4;
}

.job-plan-button .job-plan-job {
    font-size: 9px;
}

