.weekPlanStatistics {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .planGraph{
    width: 100%;
  }
  
  .weekPlanStatisticsName {
    font-size: 20px;
    font-weight: bold;
    color: #0E332C;
  }
  
  .allPlanStatistics {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
  }
  
  .weekPlanStatisticsName {
    padding-right: 120px; 
  }
  .weekPlanStatisticsButton{
    width: 100%;
  }
  
  .planCorrectionButton {
    border: none;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;

  }
  
 
  