/* plan-graph-data.module.css */

.graph-container {
    width: 100%;
    max-width: 600px; /* Adjust height as needed */
    background-color: #f5f5f5; /* Background color for the graph container */
    border-radius: 10px;
    padding: 0px; 
  }
  
  .graph {
    position: relative; /* Set position to relative for the graph */
    margin-bottom: 15px;
    margin-left: 10px;
  }
  
  .title {
    position: absolute; /* Set position to absolute for the title */
    top: 10px; /* Adjust top position */
    /* left: 10px;  */
    font-size: 14px; /* Font size for the title */
    font-weight: bold; /* Font weight for the title */
    color: #38D6B8; /* Text color for the title */
    /* margin-bottom: 10px; */
  }
  