.weekStatusButton {
    text-align: center;
  }

  .thirdweek{
    background-color: #5edcc4;
    color: #ffffff;
    width: 24%;
    height: 28px;
    margin-bottom: 20px;
    border: none;
    margin-left: 1.5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    /* background-color: #ffffff;  */
    transition: background-color 0.3s; 
    /* color: gray; */
    font-size: 12px;
  }
  
  .week {
    width: 24%;
    height: 28px;
    margin-bottom: 20px;
    border: none;
    margin-left: 1.5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #ffffff; 
    transition: background-color 0.3s; 
    color: gray;
    font-size: 12px;
  }

  