.container {
    text-align: center;
    align-items: center;
    width: 25vw;
    margin-top: 1vh;
    margin-right: 5.56vw;
}

.container>* {
    margin-right: 5.56vw;
}

.container> :nth-child(3) {
    margin-right: 0;
}

.box {
    display: flex;
    width: 11.25vh;
    height: 11.25vh;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 0.34);
    justify-content: center;
    align-items: center;
    }

.icon {
    width: 5vh;
    height: 5vh;
    text-align: center;
}

.text {
    color: rgb(0, 0, 0, 0.87);
    font-size: 14px;
    margin-top: 0.25vh;
    width: 100%;
    text-align: center;
}