.container{
    margin-top: 2.5vh;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.88vh;
}

.text{
    font-size: 14px;
    color: rgb(0,0,0,0.87);
    margin-right: 5.83vw;
}

.textbox{
    height: 40px;
    width: 75.83vw;
    border-radius: 5px;
    color: rgb(0, 0, 0, 0.34);
    border: 1px solid rgb(0,0,0,0.34);
    padding-left: 4.17vw;
    box-sizing: border-box;
    outline: none;
}

.textbox:focus{
    border: 1px solid #5EDCC4;
    color: rgb(0,0,0,0.87);
}

.selectbox{
    display: flex;
    align-items: center;
    height: 40px;
    width: 75.83vw;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid rgb(0,0,0,0.34);
}

.selectbox img{
    width: 18px;
    height: 18px;
    margin-left: 2.5vw;
}

.selectbox p{
    color: rgb(0,0,0,0.87);
    font-size: 14px;
    margin-left: 2.78vw;
    width: 57.5vw;
    text-align: left;
}

.icon{
    width: 18px;
    height: 18px;
    color: rgb(0, 0, 0,0.34);
}

.done {
    display: flex;
    justify-content: center;
    align-items: center;
}

.done-btn, .done-btn-active{
    height: 40px;
    width: 88.98vw;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 45.63vh;
}

.done-btn{
    background-color: #D0D0D0;
}

.done-btn-active{
    background-color: #5EDCC4;
}