.post-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5EDCC4;
    left: 80.56vw;
    top: 82.5vh;
    box-shadow: 0px 0px 7px 3px rgb(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}   

.pencil-icon{
    color: #ffffff;
    width: 28px;
    height: 28px;
    margin: 0 auto;
}