

.password-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  .password-container img{
    margin-top: 10px; 
  }
  
  .input-group {
    padding: 20px;
    padding-bottom: 0px;
    align-items: center;
  }
  .input-group .password-input-name{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .input-group input:focus{
    border: 1px solid #5EDCC4;
    outline: none;
  }
  
  .password-error-message {
    color: #f44336;
    font-size: 12px;
    margin: 0;
  }
  
  .password-success-message {
    color: #000;
    font-size: 12px;
    margin: 0;
  }
  
  .submit-button {
    position: fixed; 
    width: 90%;
    bottom: 30px; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px 20px;
    background-color: #ccc;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button.active {
    background-color: #5EDCC4;
    cursor: pointer;
  }
  