.input-container{
    position: fixed;
    top: 10vh;
    left: 5.56vw;
    width: calc(100% - 11.11vw);
}

.title{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0,0,0,0.87);
}

.input-box{
    margin-top: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-title{
    font-size: 14px;
    color: rgb(0,0,0,0.87);
}

.input{
    margin-left: 2.77vw;
    width: 75.2vw;
    height: 5vh;
    border: 1px solid #5EDCC4;
    border-radius: 5px;
    outline: none;
    padding-left: 2.78vw;
    color: rgb(0,0,0,0.34);
}

.input:focus{
    color: rgb(0,0,0,0.87);
}

.input-btn{
    top: 90vh;
    position: fixed;
    width: calc(100% - 11.11vw);
    background-color: #D0D0D0;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
}