.container{
    height: 77.78vh;
    top: 20vh;
    position: fixed;
}

.background{
    width: 77.78vw;
    height: 77.78vw;
    background-color: #ffffff;
    border-radius: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
    left: 11vw;
    position: fixed;
}

.starter{
    position: fixed;
    width: 4.27vw;
    height: 4.27vw;
    border-radius: 100vw;
    background-color: #ffffff;
    margin-top: -32.4vh;
}

.main{
    margin-top: 1.38vh;
    text-align: center;
    position: relative;
}

.icon{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
    color: #38D6B8;
    font-size: 100px;
    font-weight: bold;
}

.slider {
    margin: auto;
}
