.container {
    height: 100vh;
    position: fixed;
    top: 16.5vh;
    justify-content: center;
    text-align: center;
    left: 12.11vw;
}

.background {
    width: 75.78vw;
    height: 75.78vw;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 7px 3px rgb(0,0,0,0.1);
}

.starter {
    width: 4.2vw;
    height: 4.2vw;
    border-radius: 50%;
    background-color: #fff;
    top: 21%;
    position: fixed;
    z-index: 100;
}

.main {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #38D6B8;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.icon img{
    width: 47.00vw;
}

.title {
    color: #22806E;
    font-size: 18px;
    font-weight: bold;
    margin-top: 6px;
    text-align: center;
}
