.quest-select-title{
    top: 10vh;
    color: rgb(0,0,0,0.87);
    position: fixed;
    font-weight: bold;
    font-size: 20px;
}

.quest-select-btn{
    position: fixed;
    top: 15.63vh;
    left: 9.72vw;
    display: flex;
    width: calc(100% - 12.50vw);
    text-align: center;
    flex-wrap: wrap;
}

.quest-select-btn > * {
    margin-right: 6.94vw;
    margin-bottom: 1.25vh;
}

.quest-select-next{
    position: fixed;
    top:90vh;
    width: calc(100% - 11.11vw);
    height: 5vh;
    background-color: #D0D0D0;
    color: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5.56vw;
}