.container{
    top: 15.63vh;
    left: 9.72vw;
    width: calc(100% - 12.5vw);
    position: fixed;
    justify-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.container > * {
    margin-right: 6.94vw;
    margin-bottom: 1.25vh;
}

.box{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px #D0D0D0 inset; 

}
.text{
    color: rgb(0,0,0,0.87);
    font-size: 12px;
    margin-top: 0.25vh;
}

.selected-box{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #84E2D0;
}

.next, .done{
    position: fixed;
    top:80vh;
    width: calc(100% - 11.11vw);
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5.56vw;
    color: #ffffff;
}

.next{
    background-color: #D0D0D0;
}

.done{
    background-color: #5EDCC4;
}