.quest-btn-container{
    justify-items: center;
    text-align: center;
    width: 80px;
}
.quest-btn-box{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D0D0D0;
}
.quest-btn-text{
    color: rgb(0,0,0,0.87);
    font-size: 12px;
    margin-top: 0.25vh;
}