.container{
    position: fixed;
    top:39.75vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 700;
    color: rgb(0,0,0,0.87);
    width: calc(100vw - 11.11vw);
}

.graph{
    background-color: red;
    width: 88.89vw;
    height: 19.5vh;
    margin-top: 1.25vh;
}

.setting-bar{
    margin-top: 1.68vh;
    border-top: 1px solid rgb(0,0,0,0.1);
}

.setting-bar-attribute{
    height: 8.45vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(0,0,0,0.1);
}

.setting-bar-attribute p{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-left: 5.56vw;
    color: rgb(0,0,0,0.87);
}

.icon{
    font-size: 45px;
}
