.setting-bar{
    position : fixed;
    width: 100vw;
    top: 60.75vh;
    border-top: 1px solid rgb(0,0,0,0.1);
}


.setting-bar-attribute{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(0,0,0,0.1);
}

.setting-bar-attribute p{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-left: 5.56vw;
    color: rgb(0,0,0,0.87);
}

.icon{
    font-size: 45px;
    color: rgb(0,0,0,0.87);
}


.height{
    max-height: 300px;
    overflow-y: auto;
}